.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

/* Add your own CSS code below */
.countries--third .country {
  display: flex;
  flex-direction: column;
}
.countries--fourth .country {
  display: flex;
  flex-direction: column-reverse;
}
